/* ====================================
// css variables
// ==================================== */

:root {
  --orange: #df7009;
  --white-background: #fffae7;
  --green: #7c6a07;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background: var(--white-background);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

nav {
  position: sticky;
  top: 0;
  background: var(--green);
  text-align: center;
}

nav a {
  color: #fff;
  font-size: 36px;
  font-family: iskra, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  background-image: url(../img/jakarta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 222px 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  color: #000;
  text-align: center;
  font-family: CoconPro;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke: 15px white;
}

h2 {
  font-family: CoconPro;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 98.1%;
  margin: 45px 0;
}

h3 {
  font-family: Iskra;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: Iskra;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120.8%;
}

hr {
  border: 1px solid black;
  margin: 17px 0;
}

section {
  margin-bottom: 100px;
}

ul {
  background: #9c904e;
  list-style: none;
  color: #181818;
  font-family: Iskra;
  font-size: 20px;
  line-height: 102.3%;
  border-radius: 10px;
  padding: 20px 5px;
}

li {
  padding-left: 100px;
}

.description {
  padding-left: 120px;
}

.section-events {
  padding: 0 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-left: 30px;
  background: white;
  height: 272px;
}

.card-title {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 30px;
}

.card-date {
  font-family: Iskra;
  font-size: 14px;
  font-weight: 400;
  line-height: 107.3%;
  margin-top: -5px;
  margin-bottom: 15px;
}

.card-button {
  background: var(--orange);
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  width: 65px;
}

.card-text {
  font-family: Iskra;
  font-size: 14px;
  font-weight: 400;
  line-height: 107.3%;
}

.info-text {
  font-family: Iskra;
  font-size: 28px;
  font-weight: 400;
  line-height: 120.8%;
}

.white-button {
  font-family: Iskra;
  font-size: 30px;
  font-weight: 900;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  margin: 40px 0;
  text-align: center;
}

.orange-button {
  font-family: Iskra;
  font-size: 40px;
  font-weight: 900;
  border-radius: 10px;
  background: var(--orange);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 50px 0;
}

.section-background {
  background: var(--orange);
}

.section-color-white {
  color: white;
}
